boto3==1.28.9
botocore==1.31.9
coverage==7.2.7
pytest==7.4.0
flake8==6.0.0
safety==2.3.5
bandit==1.7.5
pandas==2.0.3
moto==4.1.13
psycopg2-binary==2.9.6
fastparquet==2023.7.0
ccy == 1.3.1
# For successful installation I had use: pip install psycopg2-binary --no-cache-dir
